<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="summary-container">
    <h2>Product Summary</h2>
    <div class="markdown-content">
        {{ summary|safe }}
    </div>
</div>

<footer>
    <p>Copyright reserved. Developed by 
    <a href="https://www.linkedin.com/in/saiteja-pallerla-668734225/" target="_blank">Saiteja Pallerla</a> and 
    <a href="https://www.linkedin.com/in/srishrachamalla/" target="_blank">Srishrachamalla</a>
    </p>
</footer>

</body>
</html>
